@font-face
  font-family: IRANSans
  src: url(../fonts/IRANSans_FaNum.woff) format("woff")

body
  font-family: IRANSans, Tahoma, sans-serif !important

.MuiTypography-root, .MuiButton-root
  font-family: IRANSans, Tahoma, sans-serif !important

.SnackbarItem-message
  font-family: IRANSans, Tahoma, sans-serif

.MuiAlert-icon
  margin-right: 0 !important
  margin-left: 12px